.title_column {
	position: fixed;
	width: 40%;
	height: 100%;
}
.project_list {
	display: inline;
	float: right;
	width: 60%;
	padding: 5px;
}
.item {
	width: 130px;
	height: 160px;
	margin: 10px 10px 10px 10px;
	display: inline;
	float: right;
}
h1 {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 61pt;
}
p {
	font-size: 10pt;
}

#container {
	width: 900px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}