.title_column {
	position: fixed;
	width: 370px;
	height: 100%;
}
.project_list {
	margin-right: ;
	display: inline;
	float: right;
	width: 400px;

}
.item {
	width: 130px;
	height: 160px;
	margin: 10px 10px 10px 10px;
	display: inline;
	float: right;
}
h1 {
	padding: 0px;
	margin: 5px 5px 5px 5px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 55pt;
}
p {
	font-size: 10pt;
}

#container {
	width: 900px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}